# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# ChromaDB runtime storage (recreated on each run)
chroma_db/

# Environment secrets
.env
.env.*

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
